#ifndef Env_h
#define Env_h

/********************************************************************
*																	                                  *
*					       		             WIFI                  							*
*														        	                              *
*********************************************************************/
#define WIFI_SSID 					"";
#define WIFI_PASSWORD 				"";


/********************************************************************
*																	                                  *
*					       		             BLYNK					                    *
*														        	                              *
*********************************************************************/
#define BLYNK_TEMPLATE_ID           "";
#define BLYNK_DEVICE_NAME           "";
#define BLYNK_AUTH_TOKEN            "";


/********************************************************************
*																	                                  *
*					       		             LAMP       							          *
*														        	                              *
*********************************************************************/
#define LAMP_PIN					13;
#define MOVE_SENSOR_PIN				12;
#define BRIGHTNESS_SENSOR_PIN		11;
#define CHECK_MOVE_PERIOD			90000;
#define OFF_BRIGHTNESS_PERIOD		2000;


#endif
